{% extends 'user/user_panel.html' %}
{% block body %}
    <script>

    function validate(){
        if(document.getElementById("textfield2").value.length<8){
            alert("password minimum 8 digits")
            return false;

        }
        if(document.getElementById("textfield2").value!=document.getElementById("textfield3").value){
            alert("password not matching")
            return false;
        }
        return true

    }
    </script>

<body>
<form id="form1" name="form1" method="post" action="/change_password_post">
  <table width="200" border="1" class="table table-info">
    <tr>
      <th scope="row">Old Password</th>
      <td><label for="textfield"></label>
      <input type="password" name="textfield" id="textfield" required /></td>
    </tr>
    <tr>
      <th scope="row">New Password</th>
      <td><label for="textfield2"></label>
      <input type="password" name="textfield2" id="textfield2" required/></td>
    </tr>
    <tr>
      <th scope="row">Confirm Password</th>
      <td><label for="textfield3"></label>
      <input type="password" name="textfield3" id="textfield3" required/></td>
    </tr>
    <tr>
        <td></td>
      <th colspan="2" scope="row"><input type="submit" onclick="return validate()" name="button" id="button" value="Save" class="btn btn-success" /></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
