{% extends 'user/user_panel.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1"  class="table table-info">
    <tr>
      <td colspan="2"><img src="/static/staff_pics/{{data['photo']  }}" width="120" height="120"/></td>
    </tr>
   <tr>
      <th scope="row">Name</th>
      <td>{{ data['name'] }}</td>
    </tr>
    <tr>
      <th scope="row">Dob</th>
      <td>{{data['dob']  }}</td>
    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td>{{data['gender']}}</td>
    </tr>
    <tr>
      <th scope="row">Place</th>
      <td>{{data['place']  }}</td>
    </tr>

    <tr>
      <th scope="row">Post</th>
      <td>{{ data['post'] }}</td>
    </tr>
      <tr>
      <th scope="row">District</th>
      <td>{{ data['district'] }}&nbsp;</td>
    </tr>
      <tr>
      <th scope="row">Pin</th>
      <td>{{ data['pin'] }}</td>
    </tr>
    <tr>
      <th scope="row">Phone</th>
      <td>{{ data['phone_number'] }}&nbsp;</td>
    </tr>

    <tr>
      <th scope="row">Email</th>
      <td>{{ data['email'] }}</td>
    </tr>

  </table>
</form>
</body>
{% endblock %}
