{% extends 'user/user_panel.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-info">
    <tr>
      <th scope="row">Sl No</th>
      <th colspan="2">Name</th>
      <th>Gender</th>
      <th>Address</th>
        <th>Address</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
    <tr>
       {% for k in data %}
  <tr>
      <th scope="row">{{ loop.index }}</th>
       <td> <img src="/static/staff_pics/{{ k['photo'] }}"/></td>
      <td>{{ k['name'] }}</td>
      <td>{{ k['gender'] }}</td>
      <td>{{ k['place'] }}<br/>{{ k['post']}}<br/>{{ k['pin']}}<br/>{{ k['district'] }}</td>
      <td>{{ k['dob'] }}</td>
      <td>{{ k['email'] }}</td>
      <td>{{ k['phone_number'] }}
      <td><a class="btn btn-success" href="/des/{{ k['login_id'] }}">Share Images using DES3</a> </td>
      <td></td>

  </tr>
    {% endfor %}

    </tr>
  </table>
</form>
</body>
{% endblock %}